<?xml version="1.0" encoding="UTF-8"?>

<?include UpgradeData.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Various nice-to-have shorthands for x64/x32 -->
  <?if $(var.Platform) = "x64" ?>
  <?define SystemFolder = "System64Folder" ?>
  <?define SystemFolderX86 = "SystemFolder" ?>
  <?define SoftwareKey = "Software" ?>
  <?define SoftwareKeyX86 = "Software\Wow6432Node" ?>
  <?define ProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define ProgramFilesFolderX86 = "ProgramFilesFolder" ?>
  <?define VCRedistCRT = "Microsoft_VC141_CRT_x64.msm" ?>
  <?define VCRedistMFC = "Microsoft_VC141_MFC_x64.msm" ?>
  <?else?>
  <?define SystemFolder = "SystemFolder" ?>
  <?define SystemFolderX86 = "SystemFolder" ?>
  <?define SoftwareKey = "Software" ?>
  <?define SoftwareKeyX86 = "Software" ?>
  <?define ProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define VCRedistCRT = "Microsoft_VC141_CRT_x86.msm" ?>
  <?define VCRedistMFC = "Microsoft_VC141_MFC_x86.msm" ?>
  <?endif?>

  <?define DisplayName = "Backup e-Notariado" ?>

  <Product Id="$(var.ProductCode)" Name="$(var.DisplayName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="405" Compressed="yes" Id="$(var.PackageCode)" Platform="$(var.Platform)" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="The .NET Framework 4.5 must be installed ([NETFRAMEWORK45])">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <WixVariable Id="WixUILicenseRtf" Value="Resources/LGPL21.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources/InstallerSmall.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/InstallerLarge.bmp" />

    <UI>
      <UIRef Id="WixUI_FeatureTree"/>
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist1" SourceFile="$(var.HarvestPath)\$(var.VCRedistCRT)" DiskId="1" Language="0"/>
      <Merge Id="VCRedist2" SourceFile="$(var.HarvestPath)\$(var.VCRedistMFC)" DiskId="1" Language="0"/>
      <Directory Id="ProgramMenuFolder" Name="Programs"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>

      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="Backup e-Notariado">
          <!-- Installs the service -->
          <Component Id="WindowsService" Guid="{a4912fdc-ca72-4046-8baf-8e1d0e82b6ef}">
            <File Id="Duplicati.WindowsService.exe2" KeyPath="yes" Source="$(var.HarvestPath)\Duplicati.WindowsService.exe" />
            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="BackupENotariado"
              DisplayName="Backup e-Notariado"
              Description="Servidor local do Backup e-Notariado"
              Start="auto"
              Account="LocalSystem"
              ErrorControl="normal"
              Interactive="no" >
              <util:ServiceConfig
                FirstFailureActionType='restart'
                SecondFailureActionType='restart'
                ThirdFailureActionType='none'
                RestartServiceDelayInSeconds='1'
                ResetPeriodInDays='1'/>
            </ServiceInstall>
            <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="BackupENotariado" Wait="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <!-- TODO: Make expanded -->
    <Feature Id="ProductFeature" Title="Backup e-Notariado" Level="1" Description="Instala o Backup e-Notariado." AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Absent="disallow" ConfigurableDirectory="INSTALLLOCATION" >
      
      <Feature Id="ServiceFeature" Title="Instala como serviço" Description ="Executa o Backup e-Notariado como serviço automático" Level="1" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Absent="disallow">
        <ComponentRef Id="WindowsService" />
      </Feature>
      
      <Feature Id="ENBDesktopShortCutFeature" Title="Atalho na Área de Trabalho" Level="1" Description ="Instala um atalho para o Backup e-Notariado na área de trabalho" Absent="allow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
        <ComponentRef Id="ENBDesktopShortcutComponent"/>
      </Feature>

      <Feature Id="ENBProgramMenuShortCutFeature" Title="Atalho no Menu de Programas" Level="1" Description ="Instala um atalho para o Backup e-Notariado no menu de programas" Absent="allow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
        <ComponentRef Id="ENBProgramMenuShortcutComponent"/>
      </Feature>
      
      <Feature Id="VCRedist1" Title="Visual C++ 2017 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist1"/>
      </Feature>
      <Feature Id="VCRedist2" Title="Visual C++ 2017 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist2"/>
      </Feature>
      
      <ComponentGroupRef Id="DUPLICATIBIN" />
      
    </Feature>

    <Feature Id="ENBStartupShortCutFeature" Title="Iniciar Backup e-Notariado ao inicializar" Level="1" Description ="Automaticamente inicia Backup e-Notariado quando inicializar o sistema" Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
      <ComponentRef Id="StartupMenuItem"/>
    </Feature>

    <!-- Set the Add/Remove icon -->
    <Property Id="ARPPRODUCTICON" Value="DuplicatiIcon.exe" />

    <CustomAction Id="LaunchApplication" Directory="INSTALLLOCATION" Execute="commit" Impersonate="no" ExeCommand="[INSTALLLOCATION]Duplicati.GUI.TrayIcon.exe --no-hosted-server" Return="asyncNoWait" />
    <!-- Remove old versions -->    
    <InstallExecuteSequence>
      <RemoveExistingProducts Before='InstallInitialize' />
      <Custom Action="LaunchApplication" Before="InstallFinalize">NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="1.0.0" Property="PREVIOUSVERSIONSINSTALLED"  Maximum="99.0.0" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

  </Product>
</Wix>
