<div ng-controller="AboutController">
    <h1 translate translate-params-appname="brandingService.appName">About {{appname}}</h1>
    <ul class="tabs">
        <li ng-class="{active: Page=='general'}"><a href ng-click="Page='general'" translate>General</a></li>
        <li ng-class="{active: Page=='changelog'}"><a href ng-click="Page='changelog'" translate>Últimas mudanças</a></li>
        <li ng-class="{active: Page=='licenses'}"><a href ng-click="Page='licenses'" translate>Libraries</a></li>
        <li ng-class="{active: Page=='sysinfo'}"><a href ng-click="Page='sysinfo'" translate>System info</a></li>
        <li ng-class="{active: Page=='logdata'}"><a href="#/log" translate>Show log</a></li>
    </ul>

    <div ng-show="Page == 'general'">
        <div>
            O módulo agente do Backup em Nuvem e-Notariado é licenciado sob a GNU Lesser General Public License e pode ser baixado no <a href="https://backup.e-notariado.org.br">Portal Backup e-Notariado</a>.
        </div>

        <div>&nbsp;</div>
        <div translate translate-params-appname="brandingService.appName" translate-params-version="sysinfo.ServerVersionName || 'unknown'">A versão atual do módulo agente é Backup e-Notariado {{version}}</div>

        <div ng-show="state.updatedVersion != null &amp;&amp; !state.updateReady &amp;&amp; state.updaterState == 'Waiting'">
            Uma atualização para <a href ng-click="doShowUpdateChangelog()">{{state.updatedVersion}}</a> está disponível, <a href ng-click="doStartUpdateDownload()">faça o download agora</a>
        </div>
        <div ng-show="state.updatedVersion != null &amp;&amp; state.updateReady &amp;&amp; state.updaterState == 'Waiting'">
            A atualização para <a href ng-click="doShowUpdateChangelog()">{{state.updatedVersion}}</a> está instalada, reinicie o seu computador para ativá-la.<!--<a href ng-click="doStartUpdateActivate()">activate now</a>-->
        </div>

        <a ng-show="state.updaterState == 'Waiting'" href ng-click="doCheckForUpdates()" translate>Procurar por atualizações agora</a>
        <div ng-show="state.updaterState == 'Checking'"  translate>Procurando por atualizações...</div>

        <progress-bar ng-show="state.updaterState == 'Downloading'" ng-text="'Baixando atualização...'", ng-progress="state.updateDownloadProgress">
        </progress-bar>

        <div>&nbsp;</div>
    </div>

    <div ng-show="Page == 'changelog'">
        <div class="prewrapped-text fixed-width-font" ng-show="ChangeLog">{{ChangeLog}}</div>
        <div class="prewrapped-text fixed-width-font" ng-hide="ChangeLog" translate="">Loading ...</div>
    </div>

    <div ng-show="Page == 'licenses'" class="licenses">
        {{brandingService.appName}} <span translate>is using the following third party libraries:</span>
        <ul>
            <li ng-show="Licenses == null" translate>Loading ...</li>
            <li ng-repeat="item in Licenses" class="licenseentry">
                <external-link class="itemlink" link="item.link">{{item.name}}</external-link>: {{item.description}}. <external-link class="licenselink" link="item.licenselink">{{item.license}} licensed</external-link>
            </li>
        </ul>
    </div>

    <div ng-show="Page == 'sysinfo'">
        <h2 translate>System properties</h2>
        <ul style="overflow: auto;">
            <li ng-repeat="(key,value) in sysinfo" ng-if="key != 'Options' &amp;&amp; key != 'CompressionModules' &amp;&amp; key != 'EncryptionModules' &amp;&amp; key != 'BackendModules' &amp;&amp; key != 'GenericModules' &amp;&amp; key != 'WebModules' &amp;&amp; key != 'ConnectionModules' &amp;&amp; key != 'GroupedBackendModules'">{{key}} : {{value}}</li>
            <li>{{'Backend modules:' | translate}} <p style="display: inline" ng-repeat="item in sysinfo.BackendModules">{{item.Key}} </p></li>
            <li>{{'Compression modules:' | translate}} <p style="display: inline" ng-repeat="item in sysinfo.CompressionModules">{{item.Key}} </p></li>
            <li>{{'Encryption modules:' | translate}} <p style="display: inline" ng-repeat="item in sysinfo.EncryptionModules">{{item.Key}} </p></li>
        </ul>

        <h2 translate>Server state properties</h2>
        <ul style="overflow: auto;">
            <li ng-repeat="(key,value) in state">{{key}} : {{value}}</li>

        </ul>
    </div>


</div>
