<div class="settings" ng-controller="SystemSettingsController">
    <h1 translate>e-notariado</h1>

    <form class="styled">
        <h4 class="ui-state-error-text" ng-hide="eNotariado.isEnrolled">A aplicação não está cadastrada no Módulo Gerenciador do Backup e-notariado.</h4>
        <div ng-hide="!eNotariado.isEnrolled || eNotariado.isVerified">
            <h4 class="ui-state-error-text">A aplicação ainda não foi aprovada no Módulo Gerenciador do Backup e-notariado.</h4>
        </div>

        <h4 ng-show="eNotariado.isVerified && eNotariado.isEnrolled">A aplicação está configurada corretamente</h4>
        
        <div style="cursor: pointer" class="sublabel" ng-click="enrollSettings = !enrollSettings">
            <span>Opção avançada</span>&nbsp; 
            <i class="fa fa-angle-{{enrollSettings ? 'up' : 'down'}}"></i>
        </div>
        <div ng-show="enrollSettings" class="input checkbox">
            <input type="button" id="eNotariadoReset" class="button submit" value="{{'Reiniciar cadastro com e-notariado'}}" ng-click="eNotariadoReset()" />
        </div>

        <div>
            <h2>Perguntas Frequentes</h2>
            <h3>Como cadastro a aplicação?</h3>
            <div class="sublabel">
                É necessário um cadastro manual da aplicação nesta máquina para verificar que a mesma
                está autorizada a usar o serviço Backup e-notariado. Para cadastrar sua aplicação, execute os seguintes passos:

                <ul style="list-style: disc inside">
                    <li>Visite o Portal <a href="https://backup.e-notariado.org.br/private/" target="_blank">e-notariado Backup</a></li>
                    <li>Clique no botão "Cadastrar computador"</li>
                    <li>Aguarde que o portal detecte a instalação do Módulo Agente neste computador</li>
                    <li>Dê um nome ao computador ou use o que já está preenchido</li>
                    <li>De volta a esta página, aguarde a aplicação conferir o status automaticamente</li>
                </ul>
            </div>
        </div>
    </form>
</div>
