<div class="settings" ng-controller="SystemSettingsController">
    <h1 translate>e-notariado</h1>

    <form class="styled">
        <h4 class="ui-state-error-text" ng-hide="eNotariado.isEnrolled">A aplicação falhou em se comunicar com os servidores do e-notariado, tente novamente mais tarde.</h4>
        <div ng-hide="!eNotariado.isEnrolled || eNotariado.isVerified">
            <h4 class="ui-state-error-text">A aplicação não está cadastrada no Portal E-Notariado Backup.</h4>
            <p>Leia a seção "Como cadastro a aplicação?" abaixo e siga os passos descritos</p>
            <p>Para copiar o código abaixo, clique no ícone a direita da caixa de texto.</p>
            
            <div class="input text">
                <label for="certThumbprint" translate>Application Code</label>
                <input style="font-weight: bold" type="text" id="certThumbprint" ng-model="eNotariado.applicationId"/>
                <i id="copyToClip" href ng-click="copyToClipboard()" class="fa fa-copy" style="margin: 10px 10px 10px 10px; color: #009bb3"></i>
            </div>
        </div>

        <h4 ng-show="eNotariado.isVerified && eNotariado.isEnrolled">A aplicação está configurada corretamente</h4>
        
        <div style="cursor: pointer" class="sublabel" ng-click="enrollSettings = !enrollSettings">
            <span>Opção avançada</span>&nbsp; 
            <i ng-show="!enrollSettings" class="fa fa-arrow-down"></i>
            <i ng-show="enrollSettings" class="fa fa-arrow-up"></i>
        </div>
        <div ng-show="enrollSettings" class="input checkbox">
            <input type="button" id="eNotariadoReset" class="button submit" value="{{'Reiniciar identificação com e-notariado'}}" ng-click="eNotariadoReset()" />
        </div>

        <div>
            <h2>Perguntas Frequentes</h2>
            <h3>Como cadastro a aplicação?</h3>
            <div class="sublabel">
                É necessário um cadastro manual da aplicação nesta máquina para verificar que a mesma
                está autorizada a usar o serviço Backup e-notariado. Para cadastrar sua aplicação, execute os seguintes passos:

                <ul style="list-style: disc inside">
                    <li>Copie o código acima, você pode selecionar todo o texto e copiar ou simplesmente clicar no ícone a direita</li>
                    <li>Visite o Portal <a href="https://backup.e-notariado.org.br/private/">E-Notariado Backup</a></li>
                    <li>Clique no botão "Aprovar computador"</li>
                    <li>Cole o código recém-copiado</li>
                    <li>Dê um nome ao computador ou use o que já está preenchido</li>
                    <li>De volta a esta página, aguarde a aplicação conferir o status automaticamente</li>
                </ul>
            </div>

            <h3>O que fazer quando a aplicação não mostra a mensagem que está configurada corretamente e falha em se comunicar com o e-notariado?</h3>
            <div class="sublabel">
                A aplicação se comunica automaticamente com os servidores do e-notariado ao ser instalada.
                Caso acima não mostre a mensagem "A aplicação está configurada corretamente" e uma mensagem
                de erro sobre falha de comunicação apareça, houve algum problema nessa comunicação e será
                necessário refazê-la manualmente. Para isso clique em:<br><br> "Opção Avançada" >
                "Reiniciar identificação com e-notariado"
            </div>
        </div>
    </form>
</div>
